<div style="padding-top:30px">
  <p>フリーワード検索</p>
  <input type="text" class="input-medium search-query">
  <button type="submit" class="btn">検索</button>
</div>



<div style="padding-top:30px">
  <a href="#modal-category" data-toggle="modal" class="label bc" style="width:230px">
    <span id="link-modal-category-name">ジャンルを選ぶ</span>
    <span class="icon-circle-arrow-down" style="float:right"></span>
  </a>
</div>

<div id="modal-category" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="mdl_header_demand" aria-hidden="true">
  <div class="modal-header">
  	<button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <h3 id="mdl_header_demand">ジャンル</h3>
  </div>
  <div class="modal-body">
    <% @categories.each do |category| %>
      <a href="#" genre-id="<%= category.id %>" class="a_line"><%= category.name %></a>
    <% end %>
  </div>
</div>



<div id="modal-genre" style="padding-top:10px">
  <a id="a-modal-genre" href="" data-toggle="modal" class="label bc" style="width:230px">
    <span id="link-modal-genre-name">詳しく選ぶ</span>
    <span class="icon-circle-arrow-down" style="float:right"></span>
  </a>
</div>

<% @categories.each do |category| %>
	<div id="modal-genres<%= category.id %>" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="mdl_header_demand" aria-hidden="true">
	  <div class="modal-header">
	  	<button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
	    <h3 id="mdl_header_demand"><%= category.name %></h3>
	  </div>
	  <div class="modal-body">
      <a class="a_line">全て</a>
	    <% category.genres.each do |genre| %>
        <a href="#" class="a_line"><%= genre.name %></a>
	    <% end %>
	  </div>
	</div>
<% end %>



<div style="padding-top:10px">
  <a href="#modal-location" data-toggle="modal" class="label bc" style="width:230px">
    <span id="link-modal-location-name">場所を選ぶ</span>
    <span class="icon-circle-arrow-down" style="float:right"></span>
  </a>
</div>

<div id="modal-location" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="mdl_header_demand" aria-hidden="true">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <h3 id="mdl_header_demand">場所</h3>
  </div>
  <div class="modal-body">
    <a class="a_line">現在地から探すGPS</a>
    <a class="a_line">橋北地区</a>
    <a class="a_line">橋南地区</a>
  </div>
</div>



<div style="padding-top:10px">
  <a href="#modal-situation" data-toggle="modal" class="label bc" style="width:230px;">
    <span id="link-modal-situation-name">掲載店一覧</span>
    <span class="icon-circle-arrow-down" style="float:right"></span>
  </a>
</div>

<div id="modal-situation" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="mdl_header_demand" aria-hidden="true">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <h3 id="mdl_header_demand">ニュース／空席情報</h3>
  </div>
  <div class="modal-body">
    <a class="a_line">掲載店一覧</a>
    <a class="a_line">最新のニュース</a>
    <a class="a_line">今月のニュース</a>
    <a href="#modal-situation-seat" data-toggle="modal" class="a_line">空席情報</a>
  </div>
</div>

<div id="modal-situation-seat" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="mdl_header_demand" aria-hidden="true">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <h3 id="mdl_header_demand">空席情報</h3>
  </div>
  <div class="modal-body">
    <%= select_year DateTime.now, {}, {:start_year => Date.today.year, :style => "width:70px"} %>/
    <%= select_month DateTime.now, {:use_month_numbers => true}, {:style => "width:55px"} %>/
    <%= select_day DateTime.now, {}, {:style => "width:55px"} %>
    <br/>
    <%= select_hour DateTime.now, {}, {:style => "width:55px"} %>:
    <%= select_minute DateTime.now, {:minute_step => 15}, {:style => "width:55px"} %>
    <br/>
    <select id="seat_number" style="width:55px">
      <% (1..40).each do |number| %>
        <option value="<%= number %>"><%= number %></option>
      <% end %>
    </select>人
    <br/>
    <a class="label bc">確定</a>
  </div>
</div>



<div style="padding-top:30px">
  <%= link_to "GO", shops_path, method: :get, remote: true, :class => 'label search', :align => "center" %>
</div>
